@page "/Calculators/"
@inject UnitService unitService
@inject IDbProviderService dbProviderService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@if (SelectedOption == 0)
{
    <h3>Choose a Application</h3>

    <div class="form-group">
        <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 1">Force Calculator</button>
        <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 2">Probability Calculator</button>
        <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 3">Attack Value Translator</button>
        <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 4">Combat Simulation</button>
    </div>
}
else if (SelectedOption == 1)
{
    <ForceCalculator></ForceCalculator>
    <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 0">Back</button>
}
else if (SelectedOption == 2)
{
    <ProbabilityCalculator></ProbabilityCalculator>
    <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 0">Back</button>
}
else if (SelectedOption == 3)
{
    <AttackValueTranslator></AttackValueTranslator>
    <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 0">Back</button>
}
else if (SelectedOption == 4)
{
    <CombatSimulation></CombatSimulation>
    <button type="button" class="btn btn-light" @onclick=" x => SelectedOption = 0">Back</button>
}