@page "/"

<PageTitle>Tablebricks</PageTitle>

<div class="container">
    <div class="card">
        <img src="/assets/img/background/main.png" class="card-img-top">
        <div class="card-body d-flex flex-column align-items-center">
            <h1 class="text-center">Tablebricks</h1>
            <div class="text-center">Bring your minifigures to life!</div>
        </div>
    </div>
</div>
