@page "/Units/"
@inject UnitService unitService
@inject IDbProviderService dbProviderService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<PageTitle>Unit List</PageTitle>

<div class="col-lg-3 col-sm-12 order-lg-3">
    <div class="card">
        <div class="card-header">
            <h4>Filter</h4>
        </div>
        <div class="card-content" style="padding: 0 1.3rem;">
            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="form-filter-searchphrase" placeholder="Search Keyword" />
                    <label for="form-filter-searchphrase">Search Keyword</label>
                </div>

                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a class="btn btn-success" href="/Unit"><i class="bi bi-plus-lg"></i></a>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<hr />
<div class="col-lg-9 col-sm-12">
    <div class="card">
        <div class="card-content">
            <!-- Table with no outer spacing -->
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Fraction</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="Data" Context="item">
                            <tr>
                                <td>@item.UnitId</td>
                                <td>@item.Name</td>
                                <td>@item.Fraction</td>
                                <td class="text-right text-nowrap">
                                    <button type="button" class="btn btn-danger me-1" @onclick="() => SelectedForDeletion = item"><i class="bi bi-trash"></i></button>
                                    <a class="btn btn-primary" href="/Unit/@item.UnitId"><i class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>
                        </Virtualize>

                        @if (!Data.Any())
                        {
                            <tr>
                                <td colspan="5" class="text-center">No units were found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <Pagination CurrentPageNumber="Page"
                ItemsPerPage="Filter.Limit"
                TotalItems="TotalItems"
                NavUrl="/Unit/" />
</div>

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="Delete unit?"
              OnClosed="() => SelectedForDeletion = null"
              OnConfirmed="DeleteAsync">
        <p>Do you really want to delete the unit called @SelectedForDeletion.Name?</p>
    </ConfirmModal>
}