@page "/Unit/"
@page "/Unit/{UnitId:int}"
@inject UnitService unitService
@inject IDbProviderService dbProviderService
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager


<EditForm Model="Input" OnValidSubmit="async () => await LoadEditModeAsync()">
    <div class="form-floating mb-3">
        <InputText id="name" @bind-Value="Input.Name" />
        <label for="name">Name:</label>
        <InputText id="fraction" @bind-Value="Input.Fraction" />
        <label for="fraction">Fraction:</label>
        <InputText id="description" @bind-Value="Input.Description" />
        <label for="description">Description:</label>
        <InputNumber id="defense" @bind-Value="Input.Defense" />
        <label for="defense">Defense:</label>
        <InputNumber id="moving" @bind-Value="Input.Moving" />
        <label for="moving">Moving:</label>
        <InputSelect id="primary" @bind-Value="Input.PrimaryWeapon">
            @foreach (var dept in WeaponList)
            {
                <option value="@dept.WeaponId">@dept.Name</option>
            }
        </InputSelect>
        <label for="primary">Primary Weapon:</label>
        <InputSelect id="secondary" @bind-Value="Input.SecondaryWeapon">
            @foreach (var dept in WeaponList)
            {
                <option value="@dept.WeaponId">@dept.Name</option>
            }
        </InputSelect>
        <label for="secondary">Secondary Weapon:</label>
    </div>
</EditForm>