<div class="d-flex align-items-center">
    <button class="btn">
        <i class="fa-solid fa-minus cursor-pointer" @onclick="Decrement"></i>
    </button>
    <input class="text-right" @bind="Value" max="@MaxValue" readonly style="width:40px" />
    <button class="btn">
        <i class="fa-solid fa-plus cursor-pointer" @onclick="Increment"></i>
    </button>
</div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int MaxValue { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private Task Increment()
    {
        if (Value < MaxValue)
        {
            Value++;
            ValueChanged.InvokeAsync(Value);
        }

        return Task.CompletedTask;
    }

    private Task Decrement()
    {
        if (Value > 0)
        {
            Value--;
            ValueChanged.InvokeAsync(Value);
        }

        return Task.CompletedTask;
    }
}