@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject AuthService authService
@using System.Runtime.InteropServices

<PageTitle>Tablebricks</PageTitle>

<div id="app" class="app-background">
    <div id="sidebar" class="@(ShowMenu ? "active" : string.Empty)">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative">
                <div class="d-flex justify-content-between align-items-center">
                    <div role="button" class="sidebar-toggler x">
                        <span class="sidebar-hide d-xl-none d-block" @onclick="TriggerMenuAsync"><i class="bi bi-x-lg"></i></span>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <NavMenu />
            </div>
        </div>
    </div>
    <div id="main" class="pb-0">

        <header class="mb-3 d-flex align-items-center justify-content-between d-block d-xl-none">
            <div></div>
            <div class="text-center">
                <span role="button" @onclick="TriggerMenuAsync" class="pt-3 mt-1 burger-btn d-block d-xl-none menu-button">
                    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
                </span>
                <a href="/" class="text-decoration-none">
                    <h1 style="color: white; margin-bottom: 0;">TABLEBRICKS</h1>
                </a>
            </div>
            <div style="display: flex; align-items: center;">
                @if (CurrentUser != null)
                {
                    <a href="/Account/Profile">
                        <img src="@CurrentUser?.ConvertedImage" height="50" width="50" class="rounded-circle" alt="Logo" title="Logo">
                    </a>
                }
            </div>
        </header>


        <div class="page-content background">
            <section class="row">
                @Body
            </section>
        </div>

        <footer class="footer card p-4 mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-3">
                            <h5>About Us</h5>
                            <div class="text-left">
                                <p style="text-align: justify">We have created a fan-made tabletop game inspired by LEGO Star Wars. For more information, please visit our website and check out our social media channels.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h5>Contact</h5>
                            <ul class="list-unstyled">
                                <li><i class="bi bi-geo-alt-fill"></i> 46282 Dorsten, Germany</li>
                                <li><i class="bi bi-envelope-fill"></i> support@tablebricks.com</li>
                                <li><i class="bi bi-phone-fill"></i> +49 157 37952003</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h5>Social Media</h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2">
                            <div class="text-center pt-5 pb-5">
                                <p class="text-right">
                                    @DateTime.Now.Year &copy; Tablebricks
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



@code {

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("blazorHelpers.startUp");
            ShowMenu = await JSRuntime.InvokeAsync<bool>("blazorHelpers.isDesktop");
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task TriggerMenuAsync()
    {
        bool isDesktop = await JSRuntime.InvokeAsync<bool>("blazorHelpers.isDesktop");
        ShowMenu = !ShowMenu;
    }

    protected override async Task OnParametersSetAsync()
    {
        CurrentUser = await authService.GetUserAsync();

        if (CurrentUser?.Image != null)
        {
            string base64String = Convert.ToBase64String(CurrentUser.Image);
            CurrentUser.ConvertedImage = $"data:image/png;base64,{base64String}";
        }
    }

    public bool ShowMenu { get; set; }
    public User? CurrentUser { get; set; }
}