@page "/Fractions"
<PageTitle>Fractions</PageTitle>
<h3>Fractions</h3>

<div class="container">
    <div class="row">
        <!-- First Faction -->
        <div class="col-lg-6">
            <div class="card">
                <img src="/assets/img/fractions/gar.png" class="card-img-top" alt="Clone Trooper">
                <div class="card-body">
                    <h5 class="card-title">Galaktische Republik</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <a href="Fractions/GAR" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>

        <!-- Second Faction -->
        <div class="col-lg-6">
            <div class="card">
                <img src="/assets/img/fractions/cis.png" class="card-img-top" alt="Battle Droid">
                <div class="card-body">
                    <h5 class="card-title">Konföderation unabhängiger Systeme</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <a href="" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>

        <!-- Third Faction -->
        <div class="col-lg-6">
            <div class="card">
                <img src="/assets/img/fractions/emp.png" class="card-img-top" alt="Storm Trooper">
                <div class="card-body">
                    <h5 class="card-title">Galaktisches Imperium</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <a href="" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>

        <!-- Fourth Faction -->
        <div class="col-lg-6">
            <div class="card">
                <img src="/assets/img/fractions/reb.png" class="card-img-top" alt="Rebel Trooper">
                <div class="card-body">
                    <h5 class="card-title">Rebellen Allianz</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <a href="" class="btn btn-primary">Mehr erfahren</a>
                </div>
            </div>
        </div>
    </div>
</div>

