@page "/Gamemodes"
@inject NavigationManager navigationManager
<PageTitle>Tablebricks - Gamemodes</PageTitle>
<h3>Gamemodes</h3>

<div class="container">
    <hr />
    <div class="row justify-content-center">
        @foreach (var gamemode in List)
        {
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@gamemode.Name</h5>
                        <p class="card-text">@gamemode.Description</p>
                        <a href="@($"/Gamemodes/{gamemode.Name}")" class="btn btn-primary mt-auto">Learn more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
