@page "/Rules"
<PageTitle>Tablebricks - Rules</PageTitle>
<h3>Rules</h3>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="wiki-section">
                <h1>Regelwerk</h1>
                <p>Das Regelwerk umfasst alle allgemeinen Regeln über Tablebricks.</p>
                <a href="#Inhaltsverzeichnis" class="btn btn-primary">Inhaltsverzeichnis</a>
            </div>
            <div class="wiki-section">
                <h2>Inhaltsverzeichnis</h2>
                <ul>
                    <li><a href="#Spielfläche">Spielfläche</a></li>
                    <li><a href="#Spielvorbereitung">Spielvorbereitung</a></li>
                    <li><a href="#Spielbeginn">Spielbeginn</a></li>
                    <li><a href="#Steckbrief">Steckbrief</a></li>
                    <li><a href="#Angriff">Angriff</a></li>
                    <li><a href="#Verteidigung">Verteidigung</a></li>
                    <li><a href="#Qualität">Qualität</a></li>
                    <li><a href="#Bewegung">Bewegung</a></li>
                    <li><a href="#Reichweite">Reichweite</a></li>
                    <li><a href="#Macht">Macht</a></li>
                </ul>
            </div>
            <div class="wiki-section">
                <h2>Spielfläche</h2>
                <p>
                    Zu Beginn legt man eine bestimmte Spielfläche fest, dass kann zum Beispiel ein Tisch oder ähnliches sein.
                    Dieser wird dann von den Spielern möglichst großflächig von Spielplatten bestückt.
                    Freie Bereiche gehören ebenfalls zum Spielfeld.
                    Wenn das Spielfeld aufgebaut ist, können die Startpositionen ausgewählt werden, dazu kann das Spielfeld nochmal überarbeitet werden, um ein faires Spiel zu garantieren.
                    Wenn die Spielfläche fertig gestellt ist und es von den Spielern keine Einwände gibt, kann das Spiel beginnen.
                </p>
            </div>
            <!-- Weitere Abschnitte hier einfügen -->
        </div>
    </div>
</div>
