@page "/Rules"
<PageTitle>Tablebricks - Rules</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <h2>Ruleset</h2>
            <p>The ruleset contains general rules and description about the game</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="card p-4" style="text-align: justify">
                <div>
                    <h4>Spielfläche</h4>
                    <p>
                        Zu Beginn legt man eine bestimmte Spielfläche fest, dass kann zum Beispiel ein Tisch oder ähnliches sein.
                        Dieser wird dann von den Spielern möglichst großflächig von Spielplatten bestückt.
                        Freie Bereiche gehören ebenfalls zum Spielfeld.
                        Wenn das Spielfeld aufgebaut ist, können die Startpositionen ausgewählt werden, dazu kann das Spielfeld nochmal überarbeitet werden, um ein faires Spiel zu garantieren.
                        Wenn die Spielfläche fertig gestellt ist und es von den Spielern keine Einwände gibt, kann das Spiel beginnen.
                    </p>
                </div>
                <hr />
                <div>
                    <h4>Spielvorbereitung</h4>
                    <p>
                        Nach dem die Spielfläche aufgebaut wurde, wird entschieden, welcher Spieler wo beginnt.
                        Dazu wird versucht mit einem W8 die größte mögliche Augenzahl zu werfen.
                        Der Spieler mit der höheren Würfelwert darf entscheiden, zu welcher Seite er seine Armeeaufstellung tätigt.
                        Jetzt wo den Spielern bewusst ist, von welcher Seite sie beginnen, können sie sich Gedanken zur Strategie machen.
                        Jeder Spieler bekommt eine Armeeaufstellungskarte und definiert darin seine Einheiten, die für die Partie eingesetzt werden.
                        Wenn beide Spieler fertig sind, werden die Aufstellungskarten aufgedeckt.
                        Die Aufstellungskarten dienen ebenfalls dazu, dem Gegenspieler nachzuvollziehen, welche Einheiten unter dem Machtpunktelimit mitzuführen sind und um das unerlaubte Ändern von Einheiten vorzubeugen.
                    </p>
                </div>
                <hr />
                <div>
                    <h4>Spielbeginn</h4>
                    <p>
                        Wenn beide Armee an Ihren Aufstellungspunkten positioniert sind, kann das Spiel beginnen.
                        Der Spieler welches die niedrigere Würfelwert aus der Spielvorbereitung hatte, darf die Partie beginnen.
                    </p>
                </div>
                <hr />
                <div>
                    <h4>Spielablauf</h4>
                    <p>
                        Der Spielablauf folgt immer nacheinander den zwei Spielphasen (Bewegungsphase und Angriffsphase). Dabei beziehen sich die Phasen auf die gesamte Armee. Das bedeutet, dass erst alle Einheiten die Bewegungsphase durchlaufen müssen, bevor die Angriffsphase folgt.
                        Bewegungsphase
                        Innerhalb der Bewegungsphase dürfen sich die Einheiten bis zum angegebenen Maximalwert (siehe Steckbrief der jeweiligen Einheit) frei bewegen. Mit einem Hilfsmittel, wie einem Gliedermaßstab kann die neue Position fair bestimmt werden. Dabei reicht es in der Regel aus, wenn der Truppführer die Bewegung ausführt und die dazugehörigen Einheiten nachziehen in einem Radium von 6cm.
                    </p>
                </div>
                <div>
                    <h5>Angriffsphasen</h5>
                    Die Waffen sind Eins
                    <ul>
                        <li>
                            <h6>Qualitätswurf</h6>
                            <p>Der Qualitätswurf stellt die erste Phase eines Kampfes da und sagt aus, ob die Einheit das Ziel trifft</p>
                        </li>
                        <li>
                            <h6>Schadenswurf</h6>
                            <p>Der Schadenswurf gibt an, ob das Ziel einen tödlichen Treffer erleidet</p>
                        </li>
                        <li>
                            <h6>Deckungswurf</h6>
                            <p>
                                Der Deckungswurf wird angewendet, wenn ein Ziel sich hinter einem Objekt befindet.
                                Dabei ist noch relevant, wie optimal die Deckung ist. Hierbei unterscheidet man zwischen vier verschieden Deckungen
                            </p>
                        </li>
                    </ul>
                </div>
                <hr />
                <div>
                    <h4>Unit Profiles</h4>
                    <p>
                        Each unit has its own profile, which provides all the essential details and values for the unit.
                        The description provides background information about the unit.
                        The following describes the characteristics and gameplay mechanics that include specific rules for the unit.
                        The value table provides all the necessary values.
                    </p>

                    <h5>Unit Values</h5>
                    <ul>
                        <li>
                            <h6>Defense</h6>
                            <p>The defense value represents the resistance against enemy attacks and is denoted by D.</p>
                        </li>
                        <li>
                            <h6>Movement</h6>
                            <p>
                                The movement range indicates the distance a unit can move per action, keeping in mind that some units may only move once per round.
                                The movement value is described by M.
                            </p>
                        </li>
                        <li>
                            <h6>Power</h6>
                            <p>
                                Power points indicate the size of an army.
                                Each unit has a specific number of power points determined by its strengths and weaknesses, serving as a comparative value for other units.
                                The power value is represented by the letter F.
                            </p>
                        </li>
                    </ul>

                    <h5>Weapon Values</h5>
                    <ul>
                        <li>
                            <h6>Attack</h6>
                            <p>
                                The attack is defined by two values, where A_v stands for damage against vehicles and A_t represents damage against infantry.
                            </p>
                        </li>
                        <li>
                            <h6>Accuracy</h6>
                            <p>
                                Accuracy is crucial for the probability of hitting a target and indicates whether the target will be hit or not.
                                The accuracy value is denoted by Q.
                            </p>
                        </li>
                        <li>
                            <h6>Range</h6>
                            <p>The range is defined by the value R and indicates how far a unit can shoot with its weapons.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card p-4">
                <h2 class="mb-4">Glossary</h2>
                <ul class="list-unstyled">
                    <li><a href="#Angriff">Angriff</a></li>
                    <li><a href="#Bewegung">Bewegung</a></li>
                    <li><a href="#Macht">Macht</a></li>
                    <li><a href="#Qualität">Qualität</a></li>
                    <li><a href="#Reichweite">Reichweite</a></li>
                    <li><a href="#Spielbeginn">Spielbeginn</a></li>
                    <li><a href="#Spielvorbereitung">Spielvorbereitung</a></li>
                    <li><a href="#Spielfläche">Spielfläche</a></li>
                    <li><a href="#Steckbrief">Steckbrief</a></li>
                    <li><a href="#Verteidigung">Verteidigung</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>