@page "/Rule-Set"
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["RULE_SET"]</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4 pe-4">
            <h2>@localizer["RULE_SET"]</h2>
            <div class="ms-auto">
                <p>@localizer["COMMING_SOON"]</p>
            </div>
        </div>
        <div class="card-content m-1">
        </div>
    </div>
</div>