@page "/Tables"
<PageTitle>Tablebricks - Damage Table</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header ps-4">
            <h2>Damage Table</h2>
            <p>Here you can find everything about the damage tables.</p>
        </div>
    </div>
    <div class="card p-4">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Units</th>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <th>D@(i)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <th>A@(i)</th>
                            @for (int j = 1; j <= 10; j++)
                            {
                                var values = Calculation.AttackValueTranslator(i, j);
                                if (values.Item2 > 0)
                                {
                                    <td>@values.Item1&@values.Item2</td>
                                }
                                else
                                {
                                    <td>@values.Item1</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>