<div class="container">
    <div class="row">
        @foreach(var item in Units)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img src="../img/fractions/gar/41ranger.png" class="card-img-top" alt="Clone Trooper">
                    <div class="card-body">
                        <h3 class="card-title">41. Ranger Platoon</h3>
                        <p class="card-text">Beschreibung des 41. Ranger Platoon.</p>
                        <a href="gar-41rangerplatoon.php" class="btn btn-primary">Mehr erfahren</a>
                    </div>
                </div>
            </div>    
        }
    </div>
</div>
