@inject NavigationManager navigationManager

<div class="container">
    <div class="row">
        @foreach(var unit in Units)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card" @onclick="() => SelectUnit(unit)">
                    <img src="" class="card-img-top" alt="@unit.Name">
                    <div class="card-body">
                        <h3 class="card-title">@unit.Name</h3>
                        <p class="card-text">@unit.Description</p>
                        <a href="/Fractions/GAR/@unit.Name" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>    
        }
    </div>
</div>
