@page "/Account/Details"
@attribute [Authorize]
@inject AuthService authService
<PageTitle>Accountdetails</PageTitle>
<h3>Accountdetails</h3>


@if (CurrentUser is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fb-profile-block">
                    <div class="fb-profile-block-thumb cover-container"></div>
                    <div class="profile-img">
                        <a href="#">
                            <img src="@CurrentUser.ConvertedImage" alt="" title="Logo">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>@CurrentUser.Username</h2>
                    </div>

                    <div class="fb-profile-block-menu">
                        <div class="block-menu">
                            <ul>
                                <li><a href="">Information</a></li>
                                <li><a href="">Fractions</a></li>
                                <li><a href="">Friends</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}