@page "/Account/Games/{gameId:int}"
@attribute [Authorize]
@inject GameService gameService

<PageTitle>Tablebricks - Game</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Game</h2>
            <p>@GameId</p>
        </div>
    </div>
</div>